version: '3.8'
services:
  mariadb:
    image: mariadb:11
    container_name: mariadb
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
